<?xml version="1.0 encoding="utf-8">
<configuration>
	<system.webServer>
		<httpErrors existingResponse="PassThrough" />
		<handlers>
			<add name="iisnode" path="server.js" verb="*" modules="iisnode" />
		</handlers>
		<rewrite>
			<rules>
				<rule name="Entry">
					<match url="/*"/>
					<conditions>
						<add input="{PATH_INFO}" pattern=".+\.js\/debug\/?" negate="true"/>
					</conditions>
					<action type="Rewrite" url="app.js" />
				</rule>
			</rules>
		</rewrite>
		<iisnode node_env="production"
			loggingEnabled="true"
			debuggingEnabled="true"
			devErrorsEnabled="true"
			nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;"
		/>
	</system.webServer>
</configuration>
