<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<httpErrors existingResponse="PassThrough" />
		<handlers>
			<add name="iisnode" path="server.js" verb="*" modules="iisnode" />
		</handlers>
		
		<rewrite>
			<rules>
				<rule name="Entry">
					<match url="/*"/>
					<action type="Rewrite" url="server.js" />
				</rule>
			</rules>
		</rewrite>

		<iisnode node_env="production"
			loggingEnabled="true"
			debuggingEnabled="true"
			devErrorsEnabled="true"
			nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;"/>
	</system.webServer>

	<appSettings>
		<add key="NODE_ENV" value="production"/>
		<add key="PORT" value="<!-->"/>
		<add key="HOST" value="<!-->"/>
		<add key="dbUser" value="<!-->"/>
		<add key="dbPassword" value="<!-->"/>
		<add key="dbServer" value="<!-->"/>
		<add key="dbName" value="<!-->"/>
	</appSettings>
</configuration>
